<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SherpaService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <!-- Cablecast Settings -->
      <add key="CablecastServerURL" value="localhost" />
      <add key="CablecastUsername" value="admin" />
      <add key="CablecastPassword" value="trms" />
      <add key="CablecastLocationID" value="1" />

      <!-- ArchiveSettings Settings -->
      <add key="ArchiveKey" value="" />
      <add key="ArchiveSecret" value=""/>
      <add key="ArchiveCollection" value="test_collection"/>
      <add key="ArchivePrefix" value="sherpa"/>
      <add key="ArchiveLicenseURL" value="http://creativecommons.org/licenses/by-sa/3.0/"/>
      <add key="ContentPath" value="D:\content\"/>
    </appSettings>
  
    <applicationSettings>
        <SherpaService.Properties.Settings>
            <setting name="SherpaService_CablecastWS_CablecastWS" serializeAs="String">
                <value>http://localhost/CablecastWS/CablecastWS.asmx</value>
            </setting>
        </SherpaService.Properties.Settings>
    </applicationSettings>
</configuration>